@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: "Inter", sans-serif;
}

.text-gradient {
	@apply bg-clip-text text-transparent bg-gradient-to-b from-neutral-100 via-neutral-200 to-neutral-500;
}

.noisy {
	@apply bg-[url("/images/noise.webp")] w-full h-full absolute bg-blend-multiply bg-no-repeat bg-cover opacity-30 z-5;
}

.tippy-tooltip {
	@apply bg-black/50 text-white text-sm font-medium rounded-lg px-2 py-1 shadow-lg border border-white/20;
}

.mask-fade-all {
	-webkit-mask-image: radial-gradient(ellipse at center, black 60%, transparent 100%);
	mask-image: radial-gradient(ellipse at center, black 60%, transparent 100%);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: cover;
	mask-size: cover;
}

.container-padding {
	@apply p-6 sm:p-10 md:p-12 lg:p-16 xl:p-24;
}
